.nav-pages {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-pages li {
    padding-left: 20px;
    padding-right: 20px;
}

.nav-pages li a {
    text-decoration: none;
}

.flex-center {
    display: flex;
    align-items: center;
}

.flex-center-horizontal {
    display: flex;
    justify-content: center;
}

.panel-topdown {
    display: flex;
    flex-direction: column;
    background-color: #7395AE;
    border-radius: 25px;
    padding: 40px;
    margin: 10px;

    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

.nav-pages li:hover {
    background-color: lightcoral;
}

.nav-title {
    font-size: 50px;
    padding-left: 20px;
    padding-right: 20px;
}

.nav-subtitle {
    font-size: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

.nav-div-upper {
    position: relative;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    /* padding-top: 20px;
    padding-bottom: 20px; */
}

.body-background {
    background-color: #557A95;
    display: flex;
    flex-direction: column;
}

body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.nav-div-under {
    display: flex;
    justify-content: center;
}

.nav-div {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/2/24/Blank_page_intentionally_end_of_book.jpg/800px-Blank_page_intentionally_end_of_book.jpg");
    background-color: gray;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100vw auto;
    background-blend-mode: color-burn;
}

.nav-div-under {
    min-height: 10vh;
    transition: 1s;
    overflow: hidden;
}

.nav-div-under .page-title {
    font-size: 200px;

    transform: translateY(-250px);
}

.nav-div-under .page-title.active {
    animation-name: slideup-fade;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

@keyframes slideup-fade {
    0% {
        transform: translateY(300px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        position: relative;
        opacity: 1;
    }
}

.self-intro {
    display: grid;
    padding-top: 20px;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-column-gap: 0px;
    grid-row-gap: 0px;

}

.self-intro > .text-panel {
    grid-area: auto / span 2;
}

.self-intro > .pic-panel {
    overflow: hidden;
    padding: 0px;
}

.panel-subtitle {
    font-weight: lighter;
}

.self-projects {
    padding: 20px;
}

.self-projects-grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.project-section {
    overflow: hidden;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;

    transition: 0.25s;
}

.project-section:hover {
    transform: translateY(5px);
}

.project-section:hover .project-detail > * {
    opacity: 1;
}

.project-section:hover .project-detail {
    background-color: darkred;
}

.project-detail {
    min-height: 200px;
    height: 100%;
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;

    background-color: #557A95;
    background-blend-mode: overlay;
}

.project-detail .project-tags {
    position: absolute;
    right: 10px;
    bottom: 0px;
}

.project-detail .project-tags p {
    font-style: italic;
}

.project-detail > * {
    opacity: 0;
    transition: 0.5s;
}

.project-title h2 {
    font-size: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.panel-end {
    width: 100vw;
    min-height: 50px;

    background-color: #7395AE;
    color: black;
}

.panel-end-subtitle {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.panel-end-hyperlink {
    display: flex;
}

.panel-end-hyperlink .panel-end-svg {
    margin-right: 20px;
}

.panel-end-hyperlink svg {
    padding-left: 5px;
    padding-right: 5px;
}

.background-img-fit {
    background-size: 100%;
}
